# Node
/node_modules
/frontend/node_modules

# Build outputs
/build
/dist

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
/api/*.db
api/longterm_backup_config.db

# VSCode
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
